</div><!-- wrapper -->

<!-- footer -->
<div id="toTop" class="totop">
    <div class="totop__img"></div>
</div>
<footer class="footer">
    <div class="sc-btns">
        <div class="sc-btns__el vk">
            <div class="sc-btns__el-visible">
                <img src="assets/images/vk-n.png" alt="" class="sc-btns__img">
                <span>ВКонтакте</span>
            </div>
            <div class="sc-btns__el-hidden-line"></div>
            <div class="sc-btns__el-hidden">Подписаться</div>
            <a href="" class="sc-btns__link"></a>
        </div>

        <div class="sc-btns__el fb">
            <div class="sc-btns__el-visible">
                <img src="assets/images/facebook-n.png" alt="" class="sc-btns__img">
                <span>Facebook</span>
            </div>
            <div class="sc-btns__el-hidden-line"></div>
            <div class="sc-btns__el-hidden">Подписаться</div>
            <a href="" class="sc-btns__link"></a>
        </div>

        <div class="sc-btns__el inst">
            <div class="sc-btns__el-visible">
                <img src="assets/images/insta-n.png" alt="" class="sc-btns__img">
                <span>Instagram</span>
            </div>
            <div class="sc-btns__el-hidden-line"></div>
            <div class="sc-btns__el-hidden">Подписаться</div>
            <a href="" class="sc-btns__link"></a>
        </div>
    </div>


    <div class="footer-top">
        <div class="footer-top-wrap">
            <div class="footer-top__el">
                <div class="footer-top__adress">
                    г. Минск, ул. Филимонова 55/3,
                    офис 309, комната 3
                </div>
            </div>
            <div class="footer-top__el">
                <div class="footer-top__schedule">
                    Работаем:&nbsp;<span>Пн-Пт с 9:00 до 18:00</span>
                </div>
            </div>
            <div class="footer-top__el">
                <div class="footer-top__phone">
                    Телефон:&nbsp;<span>+375 (44) 536-35-64</span>
                </div>
            </div>
        </div>
        <div class="footer-top__el subscribe">
            <div class="subscribe__description">
                Подписка на ближайшие семинары
                и акции
            </div>
            <form name="" action="" method="post">
                <div class="subscribe__mail">
                    <input type="text" class="subscribe__mail-input" placeholder="Электронная почта">
                </div>
                <button type="submit" class="btn-square theme_white">ПОДПИСАТЬСЯ</button>
            </form>
        </div>

    </div>
    <div class="footer-bottom">
        <div class="footer-bottom__el footer-copyright">
            <span>&copy; MilanCosmetics.by — </span>Все права защищены
        </div>
        <div class="footer-bottom__el footer-sitemap">
            <a href="" class="footer-sitemap__link">Карта сайта</a>
        </div>
        <div class="footer-bottom__el footer-dev">
            <a href="" class="footer-logo__link">
                Разработка сайта
                <img src="assets/images/WebCompany.png" alt="" class="footer-logo">
            </a>
        </div>
    </div>
</footer>

<!-- popup calendar -->
<div id="calendar-popup" class="popup">
    <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=miledianru%40gmail.com&amp;color=%2329527A&amp;ctz=Europe%2FMinsk"
            style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
</div>

<!-- popup sign up -->
<div id="sign-up" class="popup">
    <div class="price__title">
        Записаться
    </div>
    <form action="" method="post" name="" class="learn-more-form">

        <div class="learn-more-form-inputs">
            <div class="field__wrap">
                <label class="field__label custom-placeholder-wrap">
                    <span class="block">
                        <input type="text" class="field" name="">
                    </span>
                    <span class="custom-placeholder">Ваше имя</span>
                </label>
            </div>
            <div class="field__wrap">
                <label class="field__label custom-placeholder-wrap">
                    <span class="block">
                        <input type="text" class="field" name="">
                    </span>
                    <span class="custom-placeholder">Контактный номер</span>
                </label>
            </div>
        </div>
        <input type="submit" class="price-popup__submit" value="Записаться">
    </form>
</div>

<!-- popup registration-->
<form action="" method="post" name="" id="price-popup" class="popup">
    <div class="price__title">
        Регистрация
    </div>

    <div class="price__you">
        <div>Вы:</div>
        <div>
            <label>
                <input class="radio"
                       type="radio"
                       name="radio"
                       value="Администратор салона"
                       checked
                >
                <span class="radio-custom"></span>
                <span class="input-title">Администратор салона</span>
            </label>

            <label>
                <input class="radio"
                       type="radio"
                       name="radio"
                       value="Владелец (директор) салона"
                >
                <span class="radio-custom"></span>
                <span class="input-title">Владелец (директор) салона</span>
            </label>

            <label>
                <input class="radio"
                       type="radio"
                       name="radio"
                       value="Администратор розничной сети (магазина)"
                >
                <span class="radio-custom"></span>
                <span class="input-title">Администратор розничной сети (магазина)</span>
            </label>

            <label>
                <input class="radio"
                       type="radio"
                       name="radio"
                       value="Владелец (директор) розничной сети (магазина)"
                >
                <span class="radio-custom"></span>
                <span class="input-title">Владелец (директор) розничной сети (магазина)</span>
            </label>

            <label>
                <input class="radio"
                       type="radio"
                       name="radio"
                       value="Частный мастер"
                >
                <span class="radio-custom"></span>
                <span class="input-title">Частный мастер</span>
            </label>

            <label>
                <input class="radio"
                       type="radio"
                       name="radio"
                       value="Другое"
                >
                <span class="radio-custom"></span>
                <span class="input-title">Другое</span>
            </label>
        </div>
    </div>

    <div class="price__contacts">
        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
                    <span class="block">
                        <input
                                type="text"
                                class="field"
                                name=""
                        >
                    </span>
                <span class="custom-placeholder">Ф.И.О.</span>
            </label>
        </div>

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
                    <span class="block">
                        <input
                                type="text"
                                class="field"
                                name=""
                        >
                    </span>
                <span class="custom-placeholder">Контактный номер</span>
            </label>
        </div>

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
                    <span class="block">
                        <input
                                type="text"
                                class="field"
                                name=""
                        >
                    </span>
                <span class="custom-placeholder">Электронная почта</span>
            </label>
        </div>

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
                    <span class="block">
                        <input
                                type="text"
                                class="field"
                                name=""
                        >
                    </span>
                <span class="custom-placeholder">Фактическое название салона/магазина</span>
            </label>
        </div>


        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
                    <span class="block">
                        <input
                                type="text"
                                class="field"
                                name=""
                        >
                    </span>
                <span class="custom-placeholder">Юридическое название салона/магазина</span>
            </label>
        </div>

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
                    <span class="block">
                        <input
                                type="text"
                                class="field"
                                name=""
                        >
                    </span>
                <span class="custom-placeholder">Город</span>
            </label>
        </div>
    </div>

    <div class="price-selection">

        <div class="price-selection__title">
            Выберите прайс интересующей продукции:
        </div>

        <div class="price-selection-wrap">
            <div class="price-selection-el">
                <div class="price-selection-item">
                    <div class="price-selection-item__title">
                        <span>
                            Для волос
                        </span>
                    </div>

                    <label>
                        <input class="checkbox"
                               type="checkbox"
                               name=""
                               value=""
                        >
                        <span class="checkbox-custom"></span>
                        <span class="input-title">Kaaral</span>
                    </label>

                    <label>
                        <input class="checkbox"
                               type="checkbox"
                               name=""
                               value=""
                        >
                        <span class="checkbox-custom"></span>
                        <span class="input-title">ProSalon</span>
                    </label>

                    <label>
                        <input class="checkbox"
                               type="checkbox"
                               name=""
                               value=""
                        >
                        <span class="checkbox-custom"></span>
                        <span class="input-title">Coco Choco</span>
                    </label>

                    <label>
                        <input class="checkbox"
                               type="checkbox"
                               name=""
                               value=""
                        >
                        <span class="checkbox-custom"></span>
                        <span class="input-title">KayPro</span>
                    </label>

                    <label>
                        <input class="checkbox"
                               type="checkbox"
                               name=""
                               value=""
                        >
                        <span class="checkbox-custom"></span>
                        <span class="input-title">Wet Brush</span>
                    </label>
                </div>
            </div>

            <div class="price-selection-el">
                <div class="price-selection-item">
                    <div class="price-selection-item__title">
                        <span>
                            Для маникюра и педикюра
                        </span>
                    </div>
                    <label>
                        <input class="checkbox"
                               type="checkbox"
                               name=""
                               value=""
                        >
                        <span class="checkbox-custom"></span>
                        <span class="input-title">Artistic</span>
                    </label>

                    <label>
                        <input class="checkbox"
                               type="checkbox"
                               name=""
                               value=""
                        >
                        <span class="checkbox-custom"></span>
                        <span class="input-title">Milan Nail</span>
                    </label>

                    <label>
                        <input class="checkbox"
                               type="checkbox"
                               name=""
                               value=""
                        >
                        <span class="checkbox-custom"></span>
                        <span class="input-title">EZ nail</span>
                    </label>

                    <label>
                        <input class="checkbox"
                               type="checkbox"
                               name=""
                               value=""
                        >
                        <span class="checkbox-custom"></span>
                        <span class="input-title">Be natural</span>
                    </label>

                    <label>
                        <input class="checkbox"
                               type="checkbox"
                               name=""
                               value=""
                        >
                        <span class="checkbox-custom"></span>
                        <span class="input-title">Inm</span>
                    </label>

                    <label>
                        <input class="checkbox"
                               type="checkbox"
                               name=""
                               value=""
                        >
                        <span class="checkbox-custom"></span>
                        <span class="input-title">Farmona Professional</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="price-selection-wrap">
            <div class="price-selection-el">
                <div class="price-selection-item">
                    <div class="price-selection-item__title">
                        <span>
                            Для визажа
                        </span>
                    </div>

                    <label>
                        <input class="checkbox"
                               type="checkbox"
                               name=""
                               value=""
                        >
                        <span class="checkbox-custom"></span>
                        <span class="input-title">Godefroy</span>
                    </label>

                    <label>
                        <input class="checkbox"
                               type="checkbox"
                               name=""
                               value=""
                        >
                        <span class="checkbox-custom"></span>
                        <span class="input-title">Julienne</span>
                    </label>

                    <label>
                        <input class="checkbox"
                               type="checkbox"
                               name=""
                               value=""
                        >
                        <span class="checkbox-custom"></span>
                        <span class="input-title">Provoc</span>
                    </label>

                    <label>
                        <input class="checkbox"
                               type="checkbox"
                               name=""
                               value=""
                        >
                        <span class="checkbox-custom"></span>
                        <span class="input-title">Andrea</span>
                    </label>

                    <label>
                        <input class="checkbox"
                               type="checkbox"
                               name=""
                               value=""
                        >
                        <span class="checkbox-custom"></span>
                        <span class="input-title">Ardell</span>
                    </label>
                </div>
            </div>

            <div class="price-selection-el">
                <div class="price-selection-item item_margin">
                    <div class="price-selection-item__title">
                        <span>
                            Для лица
                        </span>
                    </div>
                    <label>
                        <input class="checkbox"
                               type="checkbox"
                               name=""
                               value=""
                        >
                        <span class="checkbox-custom"></span>
                        <span class="input-title">Farmona Professional</span>
                    </label>

                    <label>
                        <input class="checkbox"
                               type="checkbox"
                               name=""
                               value=""
                        >
                        <span class="checkbox-custom"></span>
                        <span class="input-title">Beard Club</span>
                    </label>
                </div>
                <div class="price-selection-item">
                    <div class="price-selection-item__title">
                        <span>
                            Для домашнего ухода
                        </span>
                    </div>
                    <label>
                        <input class="checkbox"
                               type="checkbox"
                               name=""
                               value=""
                        >
                        <span class="checkbox-custom"></span>
                        <span class="input-title">Farmona</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="price-btns">
            <span class="select-all">Выбрать всё</span>
            <span class="reset-all">Сбросить</span>
        </div>
    </div>

    <div class="price-message">
        <label>
            <input class="checkbox"
                   type="checkbox"
                   name=""
                   value=""
            >
            <span class="checkbox-custom"></span>
            <span class="input-title">Получать уведомление о ближайших акциях и семинарах</span>
        </label>

        <label class="field__label custom-placeholder-wrap price-popup-textarea">
    <span class="block">
        <textarea class="field custom-textarea" placeholder=""></textarea>
    </span>
            <span class="custom-placeholder textarea-custom-placeholder">Ваш комментарий:</span>
        </label>
    </div>

    <div class="price-popup-submit">
        <input type="submit" class="price-popup__submit" value="Зарегистрироваться">
    </div>
</form>

</div>
<script src="assets/js/libs.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>