<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Milancosmetics</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/tablet.css">
    <link rel="stylesheet" href="assets/css/mobile.css">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favicons/manifest.json">
    <link rel="mask-icon" href="assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <!--[if IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>
<!-- - - - - - - - - - - - mobile-menu - - - - - - - - - - - -->
<div class="mobile-menu">
    <div class="mobile-menu-header">
        <form action="" name="" method="post" class="mobile-menu-form">
            <input type="text" class="mobile-menu-form__search" placeholder="Поиск...">
            <input type="submit" value="">
        </form>

        <div class="mobile-menu-header__backward">
            Назад
        </div>
    </div>

    <ul>
        <li><a href="">каталог</a></li>
        <li><a href="">Обучение</a></li>
        <li><a href="">Спецпредложения</a></li>
        <li><a href="">Новости</a></li>
        <li><a href="">Сотрудничество</a></li>
        <li><a href="">Контакты</a></li>
    </ul>

    <div class="mobile-menu-social-wrap">
        <a href="" class="buy-link">Где купить</a>

        <div class="soc-bl">
            <a href="" class="soc-bl_link vk"></a>

            <a href="" class="soc-bl_link fb"></a>

            <a href="" class="soc-bl_link inst"></a>
        </div>
    </div>
</div>
<div class="body-overlay">
    <div class="wrapper">
        <header class="header">
            <div class="header-logo-wrap">
                <div class="header-logo-wrap__image-wrap">
                    <img src="assets/images/logo.png" alt="" class="header-logo-wrap__image">
                </div>
                <div class="header-logo-wrap__slogan">
                    Профессиональная
                    косметика
                </div>
                <a href="" class="header-logo-wrap__link"></a>
            </div>

            <div class="header-search-wrap">
                <div class="search">
                    <span class="search-img">
                    </span>

                    <form action="" method="post" name="" class="search-form">
                        <input type="text" placeholder="Поиск..." class="search-input">

                        <button type="submit" class="search-form__submit"></button>
                        <div class="search-form__close"></div>
                    </form>
                </div>

                <a href="" class="buy-link">Где купить</a>

                <div class="soc-bl">
                    <a href="" class="soc-bl_link">
                        <img src="assets/images/vk-new.png" alt="">
                    </a>

                    <a href="" class="soc-bl_link">
                        <img src="assets/images/facebook-new.png" alt="">
                    </a>

                    <a href="" class="soc-bl_link">
                        <img src="assets/images/insta-new.png" alt="">
                    </a>
                </div>
            </div>

            <div class="header-mobile-ico">
                <img src="assets/images/header-mobile-ico.svg" alt="">
            </div>

        </header>


        <!-- - - - - - - - - - - - nav - - - - - - - - - - - -->
        <nav class="nav">
            <ul>
                <li>
                    <a href="">Каталог</a>
                    <ul>
                        <li><a href="">волосы</a></li>
                        <li><a href="">лицо</a></li>
                        <li><a href="">маникюр и педикюр</a></li>
                        <li><a href="">визаж</a></li>
                        <li><a href="">домашний уход</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Обучение</a>
                    <ul>
                        <li><a href="">волосы</a></li>
                        <li><a href="">косметология</a></li>
                        <li><a href="">визаж</a></li>
                        <li><a href="">маникюр и педикюр</a></li>
                    </ul>
                </li>
                <li class="active">
                    <a href="">Cпецпредложения</a>
                    <ul>
                        <li><a href="">акции</a></li>
                        <li><a href="">новинки</a></li>
                        <li><a href="">хиты продаж</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Новости</a>
                    <ul>
                        <li><a href="">фото</a></li>
                        <li><a href="">видео</a></li>
                        <li><a href="">события</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Сотрудничество</a>
                </li>
                <li>
                    <a href="">Контакты</a>
                </li>
            </ul>
        </nav>