<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Milancosmetics</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/tablet.css">
    <link rel="stylesheet" href="assets/css/mobile.css">

    <!-- favicon -->

    <!--[if IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>
<div class="wrapper">
    <header class="header">
        <div class="header-logo-wrap">
            <div class="header-logo-wrap__image-wrap">
                <img src="assets/images/logo.png" alt="" class="header-logo-wrap__image">
            </div>
            <div class="header-logo-wrap__slogan">
                Профессиональная
                косметика
            </div>
            <a href="" class="header-logo-wrap__link"></a>
        </div>

        <div class="header-search-wrap">
            <div class="search">
                <img src="assets/images/search.png" alt="" class="search-img">

                <form action="" method="post" name="" class="search-form">
                    <input type="text" placeholder="Поиск..." class="search-input">

                    <button type="submit" class="search-form__submit"></button>
                    <div class="search-form__close"></div>
                </form>
            </div>

            <a href="" class="buy-link">Где купить</a>

            <div class="soc-bl">
                <a href="" class="soc-bl_link vk"></a>

                <a href="" class="soc-bl_link fb"></a>

                <a href="" class="soc-bl_link inst"></a>
            </div>
        </div>

    </header>

    <!-- - - - - - - - - - - - nav - - - - - - - - - - - -->
    <nav class="nav">
        <ul>
            <li>
                <a href="">Каталог</a>
                <ul>
                    <li><a href="">волосы</a></li>
                    <li><a href="">лицо</a></li>
                    <li><a href="">маникюр и педикюр</a></li>
                    <li><a href="">визаж</a></li>
                    <li><a href="">домашний уход</a></li>
                </ul>
            </li>
            <li>
                <a href="">Обучение</a>
                <ul>
                    <li><a href="">волосы</a></li>
                    <li><a href="">косметология</a></li>
                    <li><a href="">визаж</a></li>
                    <li><a href="">маникюр и педикюр</a></li>
                </ul>
            </li>
            <li class="active">
                <a href="">Cпецпредложения</a>
                <ul>
                    <li><a href="">акции</a></li>
                    <li><a href="">новинки</a></li>
                    <li><a href="">хиты продаж</a></li>
                </ul>
            </li>
            <li>
                <a href="">Новости</a>
                <ul>
                    <li><a href="">фото</a></li>
                    <li><a href="">видео</a></li>
                    <li><a href="">события</a></li>
                </ul>
            </li>
            <li>
                <a href="">Сотрудничество</a>
            </li>
            <li>
                <a href="">Контакты</a>
            </li>
        </ul>
    </nav>