/************************* 640px *************************/
@media screen and (max-width: 640px) {
    .header {
        height: 67px;
    }

    .header-logo-wrap__slogan {
        display: none;
    }

    .header-logo-wrap {
        height: 67px;
        background: none;
        width: auto;
    }

    .header-logo-wrap__image-wrap {
        float: none;
        width: auto;
    }

    .header-logo-wrap__image {
        width: 104px;
        margin-left: 15px;
        margin-top: 8px;
    }

    .slider-index-item__title, .slider-index-item__description {
        font-size: 0.875rem;
        display: inline;
        width: auto;
        white-space: nowrap;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 7px;
        background-color: rgba(255, 255, 255, 0.7);
        line-height: 1rem;
    }

    .slider-index__left {
        margin-top: 11px;
        margin-left: 8px;
        width: 56%;
    }

    .slider-index__right {
        width: 50%;
        left: 42px;
    }

    .slider-index-item__title {
        top: 24%;
    }

    .slider-index-item__description {
        top: 33%;
    }

    .slider-index-item__link-wrap {
        top: 52%;
    }

    .btn-square {
        height: 34px;
        line-height: 32px;
        padding: 0 19px;
    }

    .slider-index .slick-dots {
        bottom: 9px;
    }

    .slider-index .slick-dots li {
        width: 11px;
        height: 11px;
        margin: 0 4px;
    }

    .partners-item img {
        max-height: 40px;
    }

    .slider-next, .slider-next:hover {
        background-position: 61% 49%;
    }

    .slider-prev, .slider-prev:hover {
        background-position: 39% 49%;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }

    .partners-item {
        margin-bottom: 13px;
        height: 40px;
    }

    .partners {
        padding: 17px 0 24px;
    }

    .partners-wrap {
        width: 80%;
    }

    .partners .slider-prev {
        background-size: 7px auto;
        width: 30px;
        left: -12%;
    }

    .partners .slider-next {
        background-size: 7px auto;
        width: 30px;
        right: -5%;
    }

    .partners .slider-prev, .partners .slider-prev:hover {
        background-position: 56% 53%;
    }

    .partners .next, .partners .slider-next:hover {
        background-position: 55% 53%;
    }

    .partners .slick-slide {
        margin-right: 20px;
    }

    .partners {
        margin-right: -20px;
    }

    .middle-nav {
        flex-wrap: wrap;
        margin-bottom: 27px;
    }

    .middle-nav__products, .middle-nav__training {
        flex-basis: 100%;
        height: 173px;
    }

    .middle-nav__text {
        font-size: 1.25rem;
    }

    .index-news__title::before {
        left: -45px;
        top: 31px;
    }

    .index-news__title::after {
        right: -45px;
        top: 31px;
    }

    .index-news-title-wrap {
        margin-bottom: 5px;
    }

    .about-company {
        padding-bottom: 10px;
    }

    .about-company p, .about-company strong {
        font-size: 0.75rem;
        line-height: 14px;
        margin-bottom: 14px;
    }

    .about-company__l {
        padding-bottom: 16px;
    }

    .about-company__l .header-logo-wrap__slogan {
        display: block;
    }

    .about-company__l .header-logo-wrap__image-wrap {
        width: 100%;
        float: none;
    }

    .about-company__l .header-logo-wrap__slogan {
        width: 155px;
        float: none;
        text-align: center;
        margin: 0 auto;
        padding-left: 0;
        font-size: 0.8125rem;
        letter-spacing: -0.03rem;
        line-height: 15px;
        padding-top: 34px;
    }

    .about-company__l .header-logo-wrap {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .about-company__l .header-logo-wrap__slogan::before {
        width: 86px;
        height: 1px;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 14px;
    }

    .about-company__l p {
        font-size: 0.75rem;
        line-height: 14px;
        letter-spacing: -0.03rem;
        padding: 0 27px;
        margin-top: 16px;
    }

    .about-company__l .header-logo-wrap__image {
        width: 127px;
    }

    .sc-btns__el {
        height: 50px;
    }

    .sc-btns__el span {
        display: none;
    }

    .sc-btns__el img {
        margin-right: 0;
    }

    .footer-top-wrap {
        height: auto;
        flex-direction: column;
        padding: 41px 14px 40px 26px;
    }

    .footer-top__el:not(.subscribe) {
        border: 2px solid #fff;
        width: 100%;
        margin-bottom: 19px;
        height: 50px;
        border-radius: 50px;
        padding-bottom: 0;
        font-size: 0.8125rem;

    }

    .footer-top__el:nth-of-type(3) {
        margin-bottom: 0;
    }

    .footer-top__adress, .footer-top__schedule, .footer-top__phone {
        padding-left: 60px;
        padding-right: 10px;
        flex: 1 1 auto;
    }

    .footer-top__adress {
        background: url("../images/footer-loc.png") -2px 50% no-repeat;
        justify-content: center;
    }

    .footer-top__schedule {
        background: url("../images/footer-time.png") -2px 50% no-repeat;
    }

    .footer-top__phone {
        background: url("../images/footer-phone-ico.png") -2px 50% no-repeat;
    }

    .subscribe {
        flex-direction: column;
        height: auto;
        padding: 29px 15px 34px;
        background: url("../images/letter.png") 121% 10px no-repeat;
        background-size: auto 111px;
    }

    .subscribe__mail-input::-webkit-input-placeholder { /* WebKit browsers */
        color: rgba(255, 255, 255, 0.7);
    }

    .subscribe__mail-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: rgba(255, 255, 255, 0.7);
    }

    .subscribe__mail-input::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: rgba(255, 255, 255, 0.7);
    }

    .subscribe__mail-input:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: rgba(255, 255, 255, 0.7);
    }

    .subscribe__mail-input {
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);
        text-align: center;
        margin-top: 9px;
        line-height: 30px;
    }

    .subscribe form {
        flex-direction: column;
        width: 100%;
    }

    .subscribe__description {
        margin-right: 0;
        width: 92%;
        text-align: center;
    }

    .subscribe__mail {
        margin-right: 0;
        width: 100%;
        margin-bottom: 16px;
    }

    .subscribe .btn-square {
        height: 40px;
        width: 100%;
    }

    .footer-bottom {
        height: auto;
        flex-direction: column;
        padding: 23px 20px 10px;
    }

    .footer-copyright span {
        display: inline;
    }

    .footer-copyright {
        padding-left: 0;
        margin-bottom: 28px;
    }

    .footer-sitemap {
        margin-bottom: 17px;
    }

    .footer-logo {
        margin-right: 0;
    }

    .footer-bottom__el {
        width: 100%;
        text-align: center;
    }

    .footer-bottom__el.footer-dev {
        text-align: center;
    }

    .category-item {
        padding-top: 59.375%;
        width: 100%;
    }

    /*59,375*/

}

/************************* 480px *************************/
@media screen and (max-width: 480px) {
    .basic_width {
        padding-left: 16px;
        padding-right: 16px;
    }

    .slider-news {
        width: 320px;
        margin: 0 auto;
    }

    .slider-next-news, .slider-prev-news {
        width: 40px;
    }

    .slider-prev-news, .slider-prev-news:hover {
        background: url("../images/slider-prev-white_m.png") 50% 50% no-repeat;
    }

    .slider-next-news, .slider-next-news:hover {
        background: url("../images/slider-next-white_m.png") 50% 50% no-repeat;
    }

    .slider-news__image {
        padding-bottom: 81.5%;
    }

    .footer-top__el:not(.subscribe) {
        text-align: left;
        justify-content: flex-start;

    }

    .footer-top__schedule, .footer-top__phone {
        align-items: flex-start;
    }
}