/************************* 640px *************************/
@media screen and (max-width: 640px) {
    .products-promo h3 {
        padding-left: 0;
    }

    .header {
        height: 67px;
    }

    .header-logo-wrap__slogan {
        display: none;
    }

    .wrapper {
        padding-top: 67px;
    }

    .header-logo-wrap {
        height: 67px;
        background: none;
        width: auto;
    }

    .header-logo-wrap__image-wrap {
        float: none;
        width: auto;
    }

    .header-logo-wrap__image {
        width: 104px;
        margin-left: 15px;
        margin-top: 8px;
    }

    .slider-index-item__title, .slider-index-item__description {
        font-size: 0.875rem;
        display: inline;
        width: auto;
        white-space: nowrap;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 7px;
        background-color: rgba(255, 255, 255, 0.7);
        line-height: 1rem;
    }

    .slider-index__left {
        margin-top: 11px;
        margin-left: 8px;
        width: 56%;
    }

    .slider-index__right {
        width: 50%;
        left: 42px;
    }

    .slider-index-item__title {
        top: 24%;
    }

    .slider-index-item__description {
        top: 33%;
    }

    .slider-index-item__link-wrap {
        top: 52%;
    }

    .btn-square {
        height: 34px;
        line-height: 32px;
        padding: 0 19px;
    }

    .slider-index .slick-dots {
        bottom: 9px;
    }

    .slider-index .slick-dots li {
        width: 11px;
        height: 11px;
        margin: 0 4px;
    }

    .partners-item img {
        max-height: 40px;
    }

    .slider-next, .slider-next:hover {
        background-position: 61% 49%;
    }

    .slider-prev, .slider-prev:hover {
        background-position: 39% 49%;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }

    .partners-item {
        margin-bottom: 13px;
        height: 40px;
    }

    .partners {
        padding: 17px 0 24px;
    }

    .partners-wrap {
        width: 80%;
    }

    .partners .slider-prev {
        background-size: 7px auto;
        width: 30px;
        left: -12%;
    }

    .partners .slider-next {
        background-size: 7px auto;
        width: 30px;
        right: -5%;
    }

    .partners .slider-prev, .partners .slider-prev:hover {
        background-position: 56% 53%;
    }

    .partners .slider-next, .partners .slider-next:hover {
        background-position: 55% 53%;
    }

    .partners .slick-slide {
        margin-right: 20px;
    }

    .partners {
        margin-right: -20px;
    }

    .middle-nav {
        flex-wrap: wrap;
        margin-bottom: 27px;
    }

    .middle-nav__products, .middle-nav__training {
        flex-basis: 100%;
        height: 173px;
    }

    .middle-nav__text {
        font-size: 1.25rem;
    }

    .index-news__title::before {
        left: -45px;
        top: 31px;
    }

    .index-news__title::after {
        right: -45px;
        top: 31px;
    }

    .index-news-title-wrap {
        margin-bottom: 5px;
    }

    .about-company {
        padding-bottom: 10px;
    }

    .about-company p, .about-company strong {
        font-size: 0.75rem;
        line-height: 14px;
        margin-bottom: 14px;
    }

    .about-company__l {
        padding-bottom: 16px;
    }

    .about-company__l .header-logo-wrap__slogan {
        display: block;
    }

    .about-company__l .header-logo-wrap__image-wrap {
        width: 100%;
        float: none;
    }

    .about-company__l .header-logo-wrap__slogan {
        width: 155px;
        float: none;
        text-align: center;
        margin: 0 auto;
        padding-left: 0;
        font-size: 0.8125rem;
        letter-spacing: -0.03rem;
        line-height: 15px;
        padding-top: 34px;
    }

    .about-company__l .header-logo-wrap {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .about-company__l .header-logo-wrap__slogan::before {
        width: 86px;
        height: 1px;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 14px;
    }

    .about-company__l p {
        font-size: 0.75rem;
        line-height: 14px;
        letter-spacing: -0.03rem;
        padding: 0 27px;
        margin-top: 16px;
    }

    .about-company__l .header-logo-wrap__image {
        width: 127px;
    }

    .sc-btns__el {
        height: 50px;
    }

    .sc-btns__el span {
        display: none;
    }

    .sc-btns__el img {
        margin-right: 0;
        display: none;
    }
    
    .sc-btns__el.vk {
        background: url("../images/vk-n.svg") 50% 50% no-repeat;
    }

    .sc-btns__el.fb {
        background: url("../images/facebook-n.svg") 50% 50% no-repeat;
    }

    .sc-btns__el.inst {
        background: url("../images/insta-n.svg") 50% 50% no-repeat;
    }

    .footer-top-wrap {
        height: auto;
        flex-direction: column;
        padding: 41px 14px 40px 26px;
    }

    .footer-top__el:not(.subscribe) {
        border: 2px solid #fff;
        width: 100%;
        margin-bottom: 19px;
        height: 50px;
        border-radius: 50px;
        padding-bottom: 0;
        font-size: 0.8125rem;

    }

    .footer-top__el:nth-of-type(3) {
        margin-bottom: 0;
    }

    .footer-top__adress, .footer-top__schedule, .footer-top__phone {
        padding-left: 60px;
        padding-right: 10px;
        flex: 1 1 auto;
    }

    .footer-top__adress {
        background: url("../images/footer-loc.svg") -2px 50% no-repeat;
        justify-content: center;
    }

    .footer-top__schedule {
        background: url("../images/footer-time.svg") -2px 50% no-repeat;
    }

    .footer-top__phone {
        background: url("../images/footer-phone-ico.svg") -2px 50% no-repeat;
    }

    .subscribe {
        flex-direction: column;
        height: auto;
        padding: 29px 15px 34px;
        background: url("../images/letter.png") 121% 10px no-repeat;
        background-size: auto 111px;
    }

    .subscribe__mail-input::-webkit-input-placeholder { /* WebKit browsers */
        color: rgba(255, 255, 255, 0.7);
    }

    .subscribe__mail-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: rgba(255, 255, 255, 0.7);
    }

    .subscribe__mail-input::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: rgba(255, 255, 255, 0.7);
    }

    .subscribe__mail-input:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: rgba(255, 255, 255, 0.7);
    }

    .subscribe__mail-input {
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);
        text-align: center;
        margin-top: 9px;
        line-height: 30px;
    }

    .subscribe form {
        flex-direction: column;
        width: 100%;
    }

    .subscribe__description {
        margin-right: 0;
        width: 92%;
        text-align: center;
    }

    .subscribe__mail {
        margin-right: 0;
        width: 100%;
        margin-bottom: 16px;
    }

    .subscribe .btn-square {
        height: 40px;
        width: 100%;
    }

    .footer-bottom {
        height: auto;
        flex-direction: column;
        padding: 23px 20px 10px;
    }

    .footer-copyright span {
        display: inline;
    }

    .footer-copyright {
        padding-left: 0;
        margin-bottom: 28px;
    }

    .footer-sitemap {
        margin-bottom: 17px;
    }

    .footer-logo {
        margin-right: 0;
    }

    .footer-bottom__el {
        width: 100%;
        text-align: center;
    }

    .footer-bottom__el.footer-dev {
        text-align: center;
    }

    .category-item {
        width: 100%;
        min-height: 189px;
    }

    .select-brand .basic_width::after {
        transform: none;
        top: -29px;
        left: 0;
        width: 100%;

    }

    .select-brand-wrap {
        justify-content: space-between;
        margin-left: 0;
    }

    .select-brand-wrapper {
        margin-left: 0;
    }

    .select-brand-item {
        width: 42%;
        height: 60px;
        margin-left: 20px;
    }

    .select-brand__img img {
        max-width: 60%;
    }

    .bread-crumbs {
        font-size: 0.8125rem;
        padding-left: 14px;
        padding-right: 14px;
        margin-left: 0;
    }

    .bread-crumbs__list {
        padding-top: 12px;
    }

    .bread-crumbs__item {
        line-height: 15px;
    }

    .breadcrumbs-title-wrap {
        min-height: 27px;
    }

    h1 {
        font-size: 1rem;
        padding-top: 2px;
        padding-bottom: 4px;
        margin-left: 0;
        line-height: 20px;
    }

    .select-brand {
        padding-top: 47px;
        padding-bottom: 17px;
        padding-right: 20px;
    }

    .header-mobile-ico {
        margin-right: 15px;
    }

    .select-brand .basic_width::after {

    }

    .catalog {
        padding: 43px 0 28px;
    }

    .catalog-item-wrap {
        width: 50%;
        min-height: 0;
        margin-bottom: -1px;
    }

    .catalog-item-wrap:nth-of-type(odd) {
        border: 1px solid #f2f2f2;
        border-left: none;
    }

    .catalog-item-wrap:nth-of-type(odd) .catalog-description__wrap {
        padding-left: 14px;
        padding-right: 10px;
    }

    .catalog-item-wrap:nth-of-type(even) {
        border-top: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2;
    }

    .catalog-item-wrap:nth-of-type(even) .catalog-description__wrap {
        padding-left: 10px;
        padding-right: 14px;
    }

    .catalog-item__img {
        border: none;
        height: 110px;
    }

    .catalog-item__brand, .products-item .catalog-item__brand {
        max-width: 35px;
        height: 25px;
        right: 16px;
        top: 5px;
    }

    .catalog-item {
        z-index: 0;
        position: relative;
    }

    .catalog-item__title {
        font-size: 0.625rem;
        font-family: GothamProMedium, sans-serif;
        line-height: 20px;
        letter-spacing: -.02rem;
    }

    .catalog-item__description, .catalog-item__rest {
        font-size: 0.625rem;
    }

    .catalog-item__description {
        font-family: GothamProRegular, sans-serif;
        line-height: 12px;
        max-height: 50px;
        margin-top: 6px;
        margin-bottom: 9px;
    }

    .catalog-description__wrap {
        padding-top: 0;
        padding-bottom: 18px;
        min-height: 0;
    }

    .catalog-wrap {
        padding-bottom: 29px;
    }

    .products-promo {
        padding: 0 13px;
        font-size: 0.625rem;
    }

    .products-promo .more {
        margin-bottom: 15px;
    }

    .products-promo .elTextHidden {
        font-size: 0.625rem;
        display: inline;
    }

    .products-promo div {
        padding-left: 0;
        font-size: 0.8125rem;
    }

    .products-item-wrap {
        width: 50%;
        margin-bottom: -1px;
    }

    .products-item {
        border: none;
        padding-bottom: 15px;
    }

    .products-item-wrap:nth-of-type(odd) {
        border: 1px solid #f2f2f2;
        border-left: none;
    }

    .products-item-wrap:nth-of-type(even) {
        border-top: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2;
    }

    .products-wrap {
        padding: 5px 0 26px;
    }

    .products-promo .more-title {
        display: inline;
        font-size: 0.625rem;
        color: #651039;
        border-bottom: 1px solid rgba(101,16,57, 0.4);
        cursor: pointer;
    }

    .products-promo p {
        margin-top: 13px;
        padding-right: 0;
        line-height: 12px;
    }

    .elTextHidden {
        line-height: 12px;
    }

    .products-promo img {
        max-width: 68px;
        margin: 9px 12px 10px 1px;
    }

    .products-item__overlay-promo {
        font-size: 0.6875rem;
    }

    .product-item__info, .product-item__description {
        font-size: 0.75rem;
    }

    .product-item__info {
        margin-top: 20px;
        margin-bottom: 12px;
    }

    .product-item__description {
        line-height: 12px;
        font-size: 0.6875rem;
        max-height: 26px;
    }

    .products-item__overlay-promo {
        padding: 0 14px;
        height: 20px;
        line-height: 20px;
        bottom: -10px;
        letter-spacing: 0;
    }

    .products-item__img {
        height: 110px;
    }

    .products, .new-products {
        padding-bottom: 29px;
    }

    .new-products h1, .products h1, .lines h1, .photo-page-wrap h1 {
        padding-left: 14px;
        padding-right: 14px;
    }

    .new-products h1 {
        padding-bottom: 19px;
    }

    .card {
        padding-left: 14px;
        padding-right: 14px;
    }

    .card-image {
        height: 162px;
        width: 100%;
        margin: 4px 0 0;
    }

    .card-image .catalog-item__brand {
        width: 66px;
    }

    .card-main {
        display: flex;
        flex-direction: column;
        order: 0;
    }

    .card-main > * {
        order: 20;
    }

    .card-image.mobile {
        order: 0;
    }

    .card-main .card-main__features {
        order: 0;
        margin-top: 16px;
        margin-bottom: 6px;
        flex-direction: row-reverse;
    }

    .card-main__features-country, .card-main__features-article {
        width: 50%;
        text-align: center;
        font-size: 0.75rem;
    }

    .card h1 {
        padding: 0;
        font-size: 0.875rem;
        text-align: center;
        margin-right: 0;
    }

    .card-main h2 {
        text-align: center;
        font-size: 0.75rem;
        padding-bottom: 12px;
        margin-bottom: 8px;
        border-bottom: 1px solid #e5e5e5;
    }

    .card-main__features-btns {
        margin-top: 15px;
        justify-content: center;
        margin-bottom: -8px;
    }

    .card-main__features-article {
        margin-left: 0;
        font-family: GothamProRegular, sans-serif;
    }

    .card-main__features-article span {
        font-family: GothamProMedium, sans-serif;
    }

    .card-main__features-manufacturer {
        display: none;
    }

    .action {
        height: 20px;
        line-height: 20px;
        bottom: -10px;
    }

    .download-pdf {
        width: 100%;
        padding-right: 5px;
        padding-left: 34px;
        text-align: center;
        margin-top: 12px;
    }

    .download-pdf::before {
        left: calc(50% - 63px);
    }

    .card .card-main .card-main-half-wrap {
        flex-direction: column;
        padding-bottom: 22px;
    }

    .card-main__half {
        width: 100%;
        margin-bottom: 33px;
    }

    .card-main__half:last-of-type {
        margin-bottom: 0;
    }

    .card-main-action__half {
        width: 100%;
        margin-bottom: 15px;
    }

    .card-main > div:not(.card-main__features) {
        padding-top: 7px;
    }

    .card-main__half h4 {
        margin-bottom: 18px;
        text-align: center;
    }

    .card-main__half h4::after {
        left: 50%;
        transform: translateX(-50%);
    }

    .card-main h4 {
        text-align: center;
    }

    .card-main .similar {
        margin-top: -16px;
        text-align: center;
    }
    
    .similar-slider__item {
        text-align: left;
    }

    .similar-slider {
        min-height: 152px;
    }

    .similar-slider__img {
        min-width: 0;
        width: 104px;
        height: 152px;
        flex: none;
        margin-right: 10px;
    }

    .similar-slider__info, .similar-slider__info-more {
        font-size: 0.8125rem;
    }

    .similar-slider__description {
        padding-right: 10px;
        padding-top: 24px;
        padding-bottom: 38px;
    }

    .similar-slider__info {
        margin-bottom: 11px;
    }

    .similar-slider .slick-dots {
        height: 20px;
        width: 100%;
        left: 0;
        flex-direction: row;
        top: auto;
        bottom: 18px;
    }

    .similar-slider .slick-dots li button {
        width: 14px;
        height: 14px;
    }

    .similar-slider  .slick-dots li {
        margin: 0 2px;
    }

    .learn .shops-tab {
        left: 14px;
    }

    .shops-tab {
        white-space: nowrap;
    }

    .calendar-btn.mobile-link {
        top: 38px;
        left: 14px;
    }

    .shops-inner {
        padding-left: 14px;
        padding-right: 14px;
    }

    .learn .shops-inner {
        padding-top: 92px;
    }

    .seminar {
        flex-direction: column-reverse;
    }

    .seminar-img {
        width: 100%;
        padding-top: 52%;
        margin: 0;
        border: none;
        border-bottom: 1px solid #e6e6e6;
    }

    .seminar-info h2 {
        font-size: 0.875rem;
        line-height: 16px;
    }

    .seminar-info {
        padding: 15px 20px 25px;
    }

    .seminar__date {
        margin-top: 16px;
    }

    .seminar {
        margin-bottom: 29px;
    }

    .seminar-last-wrap {
        margin-top: 45px;
    }

    .learn-more {
        padding-left: 14px;
        padding-right: 14px;
    }

    .learn-more-img {
        float: none;
        width: calc(100% + 30px);
        height: 183px;
        margin-bottom: 1px;
        margin-top: 10px;
        margin-left: -15px;
        margin-right: -15px;
    }

    .learn-more-info {
        width: calc(100% + 30px);

        margin-left: -15px;
        margin-right: -15px;
    }

    .learn-more-info_el {
        font-size: 0.875rem;
    }

    .learn-more-info {
        height: 131px;
    }

    .learn-more-form {
        padding-left: 18px;
        padding-right: 18px;
    }

    .learn-more-form__title {
        font-size: 0.875rem;
    }

    .learn-more-form-inputs {
        flex-direction: column;
    }

    .learn-more-form-input {
        width: 100%;
    }

    .learn-more-form-input:first-of-type {
        margin-bottom: 14px;
    }

    .special-offers {
        flex-direction: column;
    }

    .special-offers-item {
        width: 100%;
        padding-top: 59.375%;
        min-height: 0;
    }

    .hit-products {
        padding-bottom: 30px;
    }

    .hit-products h1 {
        margin-left: 15px;
    }

    .bestseller {
        display: none;
    }

    .selecting-brand {
        display: inline-block;
        padding-left: 15px;
        margin-top: -2px;
    }

    .action-item {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 19px;
    }

    .action-item:last-of-type {
        margin-bottom: 0;
    }

    .action-page {
        padding-left: 14px;
        padding-right: 14px;
        padding-bottom: 40px;
    }

    .action-wrap {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .action-more-item-wrap {
        margin-top: 23px;
        display: block;
        padding-left: 20px;
        padding-right: 20px;
    }

    .card-main-action__half {
        width: 100%;
    }

    .action-more {
        padding-left: 14px;
        padding-right: 14px;
    }

    .action-more-wrap {
        padding: 15px 0 15px;
    }

    .action-more-items {
        margin-top: 22px;
    }

    .action-more-items h2:after, .more-news h2:after {
        height: 1px;
    }

    .action-more-items h2:after, .more-news h2:after {
        bottom: -9px;
    }

    .action-more-item-wrap .slider-prev{
        background: url('../images/slider-arrow.svg') 50% 50% no-repeat;
        background-size: 30px auto;
    }

    .action-more-item-wrap .slider-next {
        background: url('../images/slider-arrow-right.svg') 50% 50% no-repeat;
        background-size: 30px auto;
    }

    .action-more-item-wrap .card-main-action__half {
        margin: 0;
    }

    .card-main-action__half.slick-slide {
        margin-right: 5px;
        margin-left: 5px;
    }

    .news {
        padding-bottom: 40px;
    }

    .news-wrap {
        padding-left: 0;
        padding-right: 0;
        margin-top: 7px;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 13px;
    }

    .news-item {
        width: 100%;
        margin-right: 0;
        height: 202px;
    }

    .news h1 {
        padding-left: 14px;
        padding-right: 14px;
        padding-bottom: 19px;
    }

    .news-item__txt {
        font-size: 0.875rem;
        line-height: 17px;
    }

    .news-item__info {
        padding: 15px 25px;
    }
    .news-inner-wrap h1 {
        margin-left: 15px;
        margin-right: 15px;
        padding-bottom: 14px;
    }

    .news-inner {
        padding-left: 15px;
        padding-right: 15px;
    }

    .photo-page-slider-wrap {
        width: auto;
        min-width: 0;
        margin-top: 24px;
    }

    .more-news-block {
        padding-left: 15px;
        padding-right: 15px;
    }

    .news-inner-video {
        height: 170px;
    }

    .video-page h1 {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 21px;
    }

    .video-page .news-inner {
        padding-bottom: 11px;
    }

    .cooperation-points {
        flex-wrap: wrap;
    }

    .cooperation-points__el {
        width: 50%;
        margin-bottom: 15px;
    }

    .cooperation-points__el:nth-of-type(3) {
        padding: 0 46px;
    }

    .cooperation h2, .cooperation ul {
        margin-left: -15px;
        margin-right: -15px;
        border-radius: 0;
    }

    .cooperation {
        padding: 0 15px 0;
    }

    .cooperation-points__el:nth-of-type(3) {
         padding: 0;
    }

    .cooperation-img {
        border-radius: 0;
        margin-left: -15px;
        margin-right: -15px;
    }

    .cooperation-wrap h1 {
        padding-bottom: 13px;
        padding-left: 14px;
        padding-right: 14px;
    }

    .cooperation-img {
        height: 113px;
    }

    .cooperation-img img:last-of-type {
        max-width: 113px;
    }

    .cooperation-img {
        margin-bottom: 22px;
    }

    .cooperation-img + p {
        line-height: 19px;
    }

    .cooperation p {
        line-height: 19px;
    }

    .cooperation-points {
        margin-top: 0;
        margin-bottom: 13px;
    }

    .cooperation-lnk {
        width: 100%;
        margin-bottom: 28px;
    }

    .cooperation-slogan strong {
        font-size: 0.875rem;
        line-height: 19px;
    }

    .cooperation h2 {
        text-align: center;
        font-size: 1.255rem;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 11px;
    }

    .cooperation-slogan {
        margin-bottom: 30px;
    }

    .cooperation ul {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 33px;
    }

    .cooperation ul:last-of-type {
        margin-bottom: 0;
    }

    .cooperation-points__el {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contacts-wrap h1 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .contacts-wrap h1 {
        padding-bottom: 13px;
    }

    .personal-contacts-wrap {
        margin-top: 0;
    }

    .personal-contacts-wrap {
        padding-left: 15px;
        padding-right: 15px;
    }

    .personal-contacts {
        margin-left: -15px;
        margin-right: -15px;
        padding-bottom: 53px;
    }

    .aside-contact {
        padding-left: 0;
        padding-right: 0;
        padding-top: 13px;
    }

    .personal-contacts-aside__region {
        margin: 23px 0 20px;
        padding: 8px 36px 8px 27px;
    }

    .personal-contacts-item-wrap {
        margin-top: 9px;
    }

    .personal-contacts-aside__name{
        font-size: 1rem;
    }

    .personal-contacts-info-wrap {
        padding-top: 22px;
    }

    .personal-contacts-aside__post {
        padding-top: 21px;
        padding-bottom: 18px;
    }

    .personal-contacts-aside__post span,
    .personal-contacts-aside__schedule span,
    .personal-contacts__contact span{
        display: block;
    }

    .personal-contacts-aside__schedule {
        margin-bottom: 21px;
    }

    .aside-contact {
        padding-bottom: 0;
    }

    .personal-contacts {
        margin-top: 23px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 32px;
    }

    .personal-contacts h2:after {
        bottom: -14px;
    }

    .personal-contacts h2 {
        margin-bottom: 23px;
    }

    .personal-contacts__person-post {
        margin-bottom: 16px;
    }

    .personal-contacts-item {
        margin-bottom: 25px;
    }

    .career-btn {
        margin-left: 0;
    }

    .vacancy-wrap h1 {
        padding-left: 14px;
        padding-right: 14px;
        padding-bottom: 14px;
    }

    .vacancy-img__overlay {
        font-size: 1rem;
        line-height: 19px;
        text-align: center;
    }

    .vacancy-list {
        border-radius: 0;
        margin-left: -15px;
        margin-right: -15px;
        padding: 20px 15px 18px;
    }

    .vacancy {
        padding: 0 15px 29px;

    }

    .vacancy-list h3::after {
        right: 0;
        width: auto;
    }

    .vacancy-description {
        margin-top: 22px;
    }

    .vacancy-description h2 {
        margin-bottom: 38px;
    }

    .vacancy-description b {
        margin: 19px 0;
    }

    .vacancy-description li {
        margin-bottom: 0;
    }

    .vacancy-description h3 {
        margin-top: 32px;
    }

    .vacancy-description form {
        margin-top: 28px;
    }

    .shops h1 {
        padding-left: 14px;
        padding-right: 14px;
    }

    .search-page .products-wrap {
        padding-bottom: 14px;
    }

    .shop-map {
        height: 246px;
    }

    .search-page-form {
        margin-left: 15px;
        margin-right: 15px;
    }

    .sitemap-wrap {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
    }

    .sitemap h1 {
        padding-left: 14px;
        padding-right: 14px;
    }

    .error-page-wrap {
        padding-left: 15px;
        padding-right: 15px;
    }

    .error-page h1 {
        padding-left: 14px;
        padding-right: 14px;
    }

    .error-page-btns {
        flex-direction: column;
        width: 100%;
    }

    .error-page__lnk {
        width: 100%;
    }

    .error-page__img span {
        font-size: 4.625rem;
    }

    .error-page__img {
        height: 147px;
    }

    .error-page__img img {
        right: 20px;
        width: 115px;
        top: 11px;
    }

    .error-page-wrap p, .error-page-wrap strong {
        padding-left: 26px;
        padding-right: 26px;
    }

    .error-page-btns {
        margin-top: 21px;
    }

    .error-page__lnk {
        margin-bottom: 15px;
    }

    .error-page-wrap {
        margin-bottom: 35px;
    }

    .popup {
        max-width: 290px;
        padding: 25px 16px;
    }

    .custom-placeholder {
        white-space: nowrap;
    }

    .field__wrap {
        overflow: hidden;
    }

    .price-selection-wrap {
        flex-wrap: wrap;
    }

    .price-selection-el, .price-selection-el:first-child {
        width: 100%;
        flex: none;
        margin-right: 0;
    }

    .price__you {
        padding-top: 18px;
    }

    .price__you label {
        margin-bottom: 11px;
    }

    .price__contacts {
        padding: 24px 0 11px;
    }

    .price-selection {
        padding-top: 23px;
    }

    .price-selection-el {
        margin-bottom: 42px;
    }

    .item_margin {
        margin-bottom: 39px;
    }

    .price-btns {
        margin-top: -13px;
    }

    .price-message {
        padding-top: 25px;
        padding-bottom: 15px;
    }

    .price-message .checkbox-custom {
        flex: none;
    }

    .price-message > label:first-child {
        display: flex;
    }

    .price-message > label:first-child .checkbox-custom {
        margin-right: 11px;
    }

    .price-message > label:first-child .input-title {
        margin-top: 3px;
        line-height: 17px;
    }

    .price-popup-textarea {
        margin-top: 26px;
    }

    .cooperation-lnk {
        line-height: 38px;
    }
}

/************************* 480px *************************/
@media screen and (max-width: 480px) {
    .basic_width {
        padding-left: 16px;
        padding-right: 16px;
    }

    .slider-news {
        width: 320px;
        margin: 0 auto;
    }

    .slider-next-news, .slider-prev-news {
        width: 40px;
    }

    .slider-prev-news, .slider-prev-news:hover {
        background: url("../images/slider-prev-white_m.png") 50% 50% no-repeat;
    }

    .slider-next-news, .slider-next-news:hover {
        background: url("../images/slider-next-white_m.png") 50% 50% no-repeat;
    }

    .slider-news__image {
        padding-bottom: 81.5%;
    }

    .footer-top__el:not(.subscribe) {
        text-align: left;
        justify-content: flex-start;

    }

    .footer-top__schedule, .footer-top__phone {
        align-items: flex-start;
    }

    .similar-slider__description span {
        display: block;
    }

    .learn .shops-aside {
        display: block;
        width: 100%;
        margin-right: 0;
    }

    .shops-inner {
        flex-direction: column-reverse;
    }

    .shops-btn-more {
        margin-bottom: 25px;
        margin-top: 25px;
    }

    .calendar-btn, .aside-calendar {
        display: none;
    }

    .learn .shops-inner {
        padding-bottom: 30px;
    }

    .aside-news {
        margin-top: 30px;
    }

    .learn-more__date, .learn-more__loc {
        background-position: 30px 50%;
        padding-left: 39px;
    }

    .learn-more__date {
        background-size: 45px;
    }

    .learn-more__loc {
        background-size: 32px;
    }

    .learn-more-form {
        margin-top: 15px;
        padding-top: 21px;
    }

    .learn-more-form__title {
        line-height: 17px;
    }

    .learn-more-form-inputs {
        margin-top: 20px;
    }

    .learn-more-form .submit-button {
        margin-bottom: 16px;
    }

    .learn-more-form span {
        display: block;
    }

    .learn-more__txt {
        line-height: 20px;
        padding-top: 12px;
        padding-bottom: 15px;
    }

    .more-news-block {
        padding-left: 0;
        padding-right: 0;
    }

    .more-news-block .slider-next,
    .more-news-block .slider-next:hover {
        right: 0;
    }

    .more-news-block .slider-prev,
    .more-news-block .slider-prev:hover{
        left: 0;
    }

    .more-news-block .news-item__txt {
        font-size: 0.875rem;
        text-transform: none;
    }

    .more-news-block .news-item__info {
        padding: 25px 44px;
    }

    .news-inner.events-page img {
        margin-left: -15px;
        margin-right: -15px;
        display: inline-block;
        max-width: calc(100% + 30px);
        padding-bottom: 14px;
    }

    .photo-page__img {
        height: 185px;
    }

    .photo-page-slider-wrap {
        margin-left: -15px;
        margin-right: -15px;
    }

    .photo-page-slider .slider-next-news:hover,
    .photo-page-slider .slider-next-news {
        background: url("../images/news-arrow-right.png") 50% 50% no-repeat;
    }

    .photo-page-slider .slider-prev-news:hover,
    .photo-page-slider .slider-prev-news {
        background: url("../images/news-arrow-left.png") 50% 50% no-repeat;
    }

    .photo-page-slider .slider-next-news::before {
        display: none;
    }

    .photo-page-slider .slider-prev-news::before {
        display: none;
    }

    .news-inner-video-wrap {
        margin-left: -15px;
        margin-right: -15px;
    }

    .contacts-map {
        height: 211px;
    }

    .nav-tabs-scroll-wrap {
        padding-left: 14px;
        position: absolute;
        left: 0;
        transition: 0.5s;
        display: inline-block;
    }

    .nav-tabs-wrap {
        padding-left: 0;
    }

    .scroll-tabs img {
        transition: .5s;
        transition-delay: 0.5s;
    }

    .scroll-tabs.active img {
        transform: rotate(-180deg);
    }

    .learn .shops-tab {
        position: relative;
        left: 0;
        top: 65px;
    }

    .scroll-tabs {
        display: flex;
        cursor: pointer;
    }

    .learn .shops-tab {
        height: 14px;
    }

    #toTop {
        right: 20px;
        bottom: 20px;
    }

}

/************************* 370px *************************/
@media screen and (max-width: 370px) {
    .vacancy-link {
        display: block;
    }

    .contacts-info__img {
        float: left;
    }
}