/************************* 1300px *************************/
@media screen and (max-width: 1317px){
    .footer-top__schedule span, .footer-top__phone span {
        flex: none;
        display: block;
        width: 100%;
        margin-top: 3px;
    }

    .footer-top__schedule, .footer-top__phone {
        flex-direction: column;
        justify-content: center;
    }

    .category {
        flex-wrap: wrap;
    }

    .category-item {
        width: 33.3333%;
        flex-basis: auto;
    }

    .care, .visage {
        flex-grow: 1;
    }

    .category-overlay__text, .category-item__line {
        display: none;
    }

    .category-item .category-overlay__hover,
    .special-offers-item .category-overlay__hover {
        opacity: 1;
    }

    .category-item:hover .category-item__title,
    .special-offers-item:hover .category-item__title {
        bottom: 32px;
        height: 40px;
    }

    .category-item__img {
        min-width: 100%;
        min-height: 100%;
        max-width: 100%;
    }

    .select-brand__description {
        padding: 0 5px;
    }

    .catalog-item__img-overlay, .catalog-item-hidden {
        display: none;
    }

    .card-main-action {
        flex-wrap: wrap;
    }

    .card-main-action__half {
        width: 100%;
        margin-bottom: 20px;
    }

    .card-main__features-btns .download-pdf span {
        display: none;
    }

    .aside {
        display: none;
    }

    .card-main {
        padding-left: 0;
        margin-top: -36px;
        width: 100%;
    }

    .card-image {
        width: 330px;
        height: 300px;
        float: left;
        margin-bottom: 20px;
        margin-right: 30px;
        margin-top: 27px;
    }

    .card-main .card-image.mobile {
        display: block;
        border: 2px solid #e5e5e5;
    }

    .card-main .card-main__features + div {
        border-top: none;
    }

    .card-main-action__half {
        width: 48%;
    }

    .card {
        padding-bottom: 10px;
    }

    .card-image .catalog-item__brand {
        width: 80px;
    }

    .card-main .similar {
        display: inline-block;
        max-width: 100%;
        margin-top: -37px;
    }

    .similar-slider__description span {
        display: inline;
    }

    .learn-more-info {
        flex-direction: column;
        height: 370px;
    }

    .learn-more-info_el {
        height: 50%;
        width: 100%;

    }

    .learn-more-info_el:first-of-type {
        margin-bottom: 1px;
    }

    .learn-more-img {
        width: 49%
    }

    .learn-more-info {
        width: 49%;
    }

    .learn-more__date, .learn-more__loc {
        background-position: 35px 50%;
        padding-left: 35px;
    }

    .learn-more-form-wrap {
        width: 100%;
    }



}

/************************* 1024px *************************/
@media screen and (max-width: 1041px){
    .wrapper {
        overflow: hidden;
    }

    .basic_width {
        padding-left: 23px;
        padding-right: 23px;
    }

    .bread-crumbs {
        position: static;
        margin-left: 23px;
        font-size: 0.875rem;
    }

    .bread-crumbs__list {
        padding-top: 18px;
    }

    .bread-crumbs__item {
        letter-spacing: -.04rem;
        margin-right: 14px;
    }

    .header {
        height: 100px;
    }

    .header-logo-wrap {
        height: 100px;
        padding-top: 0;
        margin-left: 0;
        width: 386px;
        min-width: 0;
    }

    .header-logo-wrap__image {
        margin-left: 24px;
        width: 138px;
        margin-top: 13px;
    }

    .header-logo-wrap__slogan::before {
        top: 25px;
        height: 50px;
    }

    .header-logo-wrap__slogan {
        padding-left: 6px;
    }

    .header-search-wrap {
        display: none;
    }

    .header-mobile-ico {
        display: inline-block;
    }

    .nav {
        display: none;
    }

    .slider-index {
        max-height: 370px;
    }

    .slider-index__left {
        margin-top: 123px;
        margin-left: 56px;
        width: 28%;
    }

    .slider-index__right {
        width: 40%;
        position: relative;
        left: 39px;
    }

    .slider-index-item__title {
        top: 22%;
        font-size: 1.75rem;
    }

    .slider-index-item {
        height: auto;
        max-height: 370px;
        min-height: 180px;
    }

    .slider-index-item__description {
        font-size: 1.75rem;
        top: 31%;
    }

    .slider-index-item__link-wrap {
        padding-left: 0;
        top: 57%;
    }

    .slider-index .slick-dots li.slick-active {
        background-color: #333;
        border-color: #333;
    }

    .slider-index .slick-dots li {
        border-color: rgba(51, 51, 51, .5);
    }
    
    .slider-next, .slider-next:hover {
        background-position: 38% 54%;
    }

    .slider-prev,.slider-prev:hover {
        background-position: 65% 54%;
    }

    .partners-item img {
        max-width: 100%;
        max-height: 50px;
    }

    .partners {
        padding: 6px 0 39px;
    }

    .partners-item {
        margin-bottom: 23px;
        height: 50px;
    }

    .partners-item:last-child {
        margin-bottom: 0;
    }

    .partners .slider-next, .partners .slider-next:hover,
    .partners .slider-prev, .partners .slider-prev:hover {
        background-position: 49% 51%;
    }

    .middle-nav__text,
    .middle-nav__training:hover .middle-nav__text,
    .middle-nav__products:hover .middle-nav__text {
        bottom: 21px;
    }

    .middle-nav__training:hover .middle-nav__line,
    .middle-nav__products:hover .middle-nav__line,
    .middle-nav__training:hover .middle-nav__text-hidden,
    .middle-nav__products:hover .middle-nav__text-hidden {
        display: none;
    }

    .middle-nav {
        margin-bottom: 43px;
    }

    .index-news__title {
        font-size: 1.5rem;
    }

    .index-news__title::before,
    .index-news__title::after {
        width: 30px;
        background-color: #333;
    }

    .index-news__title::before {
        left: -54px;
        top: 29px;
    }

    .index-news__title::after {
        right: -54px;
        top: 29px;
    }

    .index-news__btn {
        display: none;
    }

    .slider-news .slick-list {
        padding: 0!important;
    }

    .slider-prev-news, .slider-next-news {
        opacity: 1;
    }

    .slider-prev-news {
        background: url('../images/slider-prev-hover.png') 50% 50% no-repeat,
        linear-gradient(to left, transparent, rgba(255, 255, 255, 1));
    }

    .slider-next-news {
        background: url('../images/slider-next-hover.png') 62% 50% no-repeat,
        linear-gradient(to right, transparent, rgba(255, 255, 255, 1));
    }

    .index-news-title-wrap {
        background: none;
    }

    .slider-news__date {
        font-family: GothamProRegular, sans-serif;
    }

    .slider-news__preview {
        font-family: GothamProBold, sans-serif;
        line-height: 18px;
        max-height: 70px;
    }

    .slider-news-description {
        padding: 13px;
    }

    .slider-news__image img {
        min-height: 100%;
        min-width: 100%;
    }

    .index-news {
        margin-bottom: 0;
    }

    .about-company__l {
        float: none;
        max-width: none;
        width: calc(100% + 46px);
        margin-right: 0;
        margin-left: -23px;
        padding-top: 27px;
        margin-bottom: 26px;
        padding-bottom: 31px;
    }

    .about-company__l .header-logo-wrap {
        margin: 0 auto;
    }

    .about-company__l .header-logo-wrap__image {
        margin-left: 0;
        margin-top: 4px;
        width: 155px;
    }

    .about-company__l .header-logo-wrap__image-wrap {
        width: 43%;
    }

    .about-company__l .header-logo-wrap__slogan {
        padding-top: 33px;
        padding-left: 38px;
    }

    .about-company p {
        margin-bottom: 19px;
        line-height: 19px;
    }

    .about-company__l p {
        max-width: 340px;
        letter-spacing: -0.03rem;
        padding: 0;
        margin: 19px auto 0;
        line-height: 17px;
    }

    .about-company {
        padding-bottom: 15px;
    }

    .sc-btns__el {
        height: 61px;
    }

    .footer-top {
        height: auto;
        flex-wrap: wrap;
        background: #5c0f34;
    }

    .footer-top-wrap {
        height: 190px;
    }

    .footer-top__el {
        max-width: none;
        padding-top: 0;
        justify-content: center;
        padding-bottom: 7px;
    }

    .subscribe {
        height: 80px;
        display: flex;
        width: 100%;
        min-width: 0;
        flex-basis: auto;
        padding: 0 23px 0;
        align-items: center;
        justify-content: space-between;
        box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
        background: url("../images/letter.png") 101% -21px no-repeat rgb(92, 15, 52);
    }

    .subscribe form {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: flex-end;
    }

    .subscribe__description {
        margin-bottom: 0;
        flex: none;
        width: 185px;
        text-align: left;
        margin-right: 5.817174515235457%;
    }

    .sc-btns__el:hover .sc-btns__el-hidden-line {
        margin: 0;
    }

    .sc-btns__el:hover .sc-btns__el-hidden,
    .sc-btns__el:hover .sc-btns__el-hidden-line::before,
    .sc-btns__el:hover .sc-btns__el-hidden-line::after {
        display: none;
    }

    .footer-top__adress {
        flex: none;
        width: 222px;
    }

    .subscribe__mail {
        margin-right: 11.1111111%;
        margin-bottom: 7px;
        width: 51%;
    }

    .subscribe__mail-input {
        text-align: left;
        line-height: 28px;
        padding: 0 12px;
        width: 100%;
        max-width: 255px;
    }

    .footer-bottom {
        height: 56px;
    }

    .footer-copyright {
        padding-left: 24px;
    }

    .footer-copyright span {
        display: block;
    }

    .footer-logo {
        margin-right: 23px;
        margin-left: 7px;
    }

    .footer-dev {
        margin-top: 6px;
    }

    .subscribe .btn-square {
        width: 37.70161290322581%;
        font-family: GothamProMedium, sans-serif;
        min-width: 160px;
        padding: 0 10px;
    }

    .category-item {
        min-height: 0;
        padding-top: 33.3333%;
    }

    .category-item__title {
        width: auto;
    }

    .select-brand-more {
        display: flex;
        padding-bottom: 4px;
    }

    .select-brand {
        padding: 38px 0;
    }

    .select-brand .basic_width {
        position: relative;
    }

    .select-brand .basic_width::after {
        font-family: GothamProMedium, sans-serif;
        text-transform: uppercase;
        position: absolute;
        font-size: 0.875rem;
        text-align: center;
        color: #b3b3b3;
        transform: rotate(-90deg);
        left: -37px;
        content: 'выберите бренд';
        top: 50%;
    }

    .select-brand-wrapper {
        overflow: hidden;
        width: 88%;
        margin: 0 auto;
        transition: .3s linear;
    }

    .select-brand-wrapper::after {
        display: none;
    }

    .select-brand-wrap {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: -3.918495297805643%;
        margin-top: -3.918495297805643%;
        padding: 0;
        height: auto;
        position: relative;
        align-items: flex-start;
    }

    .select-brand-item {
        width: 29.4%;
        flex-basis: auto;
        height: 108px;
        background: none;
        margin: 3.918495297805643% 0 0 3.918495297805643%;
    }

    .select-brand-item:hover {
        box-shadow: none;
    }

    .select-brand__img {
        height: 100%;
    }

    .select-brand__country, .select-brand__description {
        display: none;
    }

    .catalog {
        padding: 37px 23px 37px;
    }

    .catalog-wrap + .pagination {
        margin-top: -14px;
        padding-bottom: 12px;
    }

    .pagination-wrap {
        padding-left: 0;
    }

    .catalog-item-wrap {
        width: 47.78393351800554%;
        margin-bottom: 14px;
    }

    .catalog-item:hover {
        box-shadow: none;
    }

    .catalog-description__wrap {
        padding-left: 0;
        padding-right: 0;
    }

    .lines, .products, .new-products {
        margin-top: 0;
    }

    .breadcrumbs-title-wrap {
        min-height: 37px;
    }
    
    h1 {
        text-align: left;
        margin-left: 23px;
        padding-top: 4px;
        padding-bottom: 21px;
        letter-spacing: -0.01rem;
    }

    .select-brand .basic_width::after {
        top: 48px;
        left: -33px;
    }

    .line_gray {
        display: none;
    }

    .products-promo img {
        max-width: 135px;
        margin: 5px 62px 30px 11px;
    }

    .products-wrap {
        padding: 34px 24px 2px;
    }

    .products-item-wrap {
        width: 30.55555555555556%;
        min-height: 0;
    }

    .products-item__overlay {
        display: none;
    }

    .products-item:hover {
        box-shadow: none;
    }

    .products-item__img {
        height: 170px;
    }

    .product-item__info {
        margin-top: 36px;
        margin-bottom: 16px;
    }

    .products-item {
        position: relative;
        padding-bottom: 23px;
    }

    .products-promo div span {
        display: none;
    }

    .products-promo div {
        padding-left: 209px;
    }

    .products-promo p {
        padding-right: 0;
    }

    .card {
        /*padding: 55px 24px 70px;*/
        padding-left: 23px;
        padding-right: 23px;
    }

    .card-image {
        margin-top: 9px;
        height: 300px;
        padding: 0!important;
    }

    .card-main {
        margin-top: 9px;
    }

    .card h1 {
        font-size: 1rem;
        line-height: 20px;
        padding-bottom: 11px;
    }

    .card h2 {
        font-size: 0.875rem;
        margin-bottom: 16px;
    }

    .card-main__features + div > h4 {
        display: none;
    }

    .card-main__features {
        display: flex;
        padding-bottom: 0;
    }

    .card-main > div:not(.card-main__features) {
        padding-top: 20px;
        border: none;
    }

    .palette {
        margin-right: 15px;
    }

    .download-pdf::before {
        left: 13px;
    }

    .download-pdf {
        padding-left: 37px;
        min-width: 0;
        padding-right: 12px;
    }

    .card-main__half {
        width: 49.2%;
        margin-bottom: -14px;
    }

    .card-main .similar .slick-dotted.slick-slider {
        margin-bottom: 0;
    }

    .card-image .catalog-item__brand {
        height: auto;
    }

    .card-image .catalog-item__brand img  {
        position: relative;
    }

    /*.aside-calendar, .aside-subscribe, .products-aside-slider, .aside-news {*/
        /*display: none;*/
    /*}*/

    /*.shops-aside {*/
        /*display: block;*/
        /*flex: none ;*/
        /*position: absolute;*/
        /*top: -6px;*/
        /*width: auto;*/
        /*margin-right: 0;*/
    /*}*/

    .calendar-btn, .calendar-btn:hover {
        margin-bottom: 0;
        height: 20px;
        line-height: 20px;
        border: none;
        /*border-bottom: 1px solid rgba(101, 16, 57, 0.4);*/
    }

    .calendar-btn:hover {
        background: transparent;
        color: #67103a;
    }

    .calendar-btn::before{
        top: 2px;
        left: 2px;
    }

    .calendar-btn::after {
        content: "";
        right: 0;
        left: 25px;
        height: 1px;
        background-color: rgba(101, 16, 57, 0.4);
        width: auto;
        opacity: 1;
        top: 18px;
        background-image: none;
    }

    .shops {
        margin-top: 1px;
    }

    .learn .shops-inner {
        padding-top: 28px;
    }

    .shops-inner {
        padding: 28px 23px 60px;
        position: relative;
    }

    .learn .shops-tab {
        top: 45px;
    }

    .shops-tab {
        right: 27px;
    }

    .seminar {
        margin-bottom: 19px;
    }

    .seminar-info {
        padding: 24px 30px 30px;
    }

    .seminar-info h2 {
        line-height: 19px;
    }

    .seminar__date {
        margin-top: 21px;
    }

    .seminar-last-wrap {
        margin-top: 29px;
    }

    .seminar-last {
        padding: 0;
        border: none;
        margin-top: 13px;
    }

    .shops-aside {
        display: none;
    }

    .calendar-btn.mobile-link {
        display: inline-block;
        position: absolute;
        top: 43px;
        left: 22px;
        z-index: 10;
    }

    .fancybox-close {
        top: -44px;
        right: 0;
    }

    .learn-more {
        margin-top: 0;
        padding-left: 23px;
        padding-right: 23px;
    }

    .learn-more h1 {
        margin-left: 0;
    }

    .learn-more-info, .learn-more-img {
        height: 218px;
    }

    .learn-more-img {
        width: 48%
    }

    .learn-more-info {
        width: 48%;
    }

    .learn-more-form {
        padding-left: 45px;
        padding-right: 45px;
    }

    .learn-more__txt {
        padding-top: 25px;
    }

    .learn-more-form .submit-button {
        color: #333;
        border-color: #333;
    }

    .hit-products {
        margin-top: 0;
    }

    .bestseller-title, .bestseller::after, .bestseller::before {
        display: none;
    }

    .bestseller {
        margin-top: 0;
        padding-bottom: 0;
    }

    .bestseller + .products-wrap {
        padding-top: 31px;
    }

    .hit-products {
        padding-bottom: 48px;
    }


}

/************************* 765px *************************/
@media screen and (max-width: 785px){
    .footer-top__el {
        width: auto;
        flex-basis: auto;
    }

    .subscribe {
        width: 100%;
    }

    .category-item {
        max-height: 250px;

    }

    .special-offers-item {
        min-height: 250px;
    }
}

@media screen and (max-width: 730px) {
    .prev-pagination span, .next-pagination span {
        display: none;
    }

    .pagination-list a {
        width: 36px;
        font-size: 0.875rem;
        line-height: 43px;
    }

    .prev-pagination, .next-pagination {
        width: 36px;
        height: 46px;
    }

    .next-pagination::before {
        top: 16px;
        right: 13px;
    }

    .prev-pagination::before {
        top: 16px;
        left: 13px;
    }

    .learn .shops-inner {
        padding-top: 70px;
    }

    .shops-inner {
        padding-top: 70px;
    }

    .learn .shops-tab {
        right: auto;
        left: 22px;
        top: 70px;
    }


}